@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
:root {
  background-color: #e9edf2
}


*{
  box-sizing: border-box;
  margin: 10;
  padding: 5;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 1.5rem;<!rem font size of the root element indexdothtml>
  color: w#e9edf2;
  margin-bottom:2rem;
}

h2{
  font-size: 1rem
  margin-bottom: 1rem
}

.container {
  width: 100vw; <!% of view ports width>
  height:100vh  <!% of view ports height>
  display: flex; <!flexbox container defined in line 11 of index file>
  justify-content: center;
  align-items: center;
  max-width: 8rem
  margin: 0 auto;
  padding: 1 rem
}

.flex-column {
  display: flex;
  flex-direction: column;
}

  .flex-centre {
    justify-content: center;
    align-content: center;
  }
  .justify centre {
    justify-content: center;
  }

  .text-centre {
    text-align: center;
  }

  .hidden {
    display: none;
  }

.btn{
  font-size: 1.5rem;
  padding: 1rem 0;
  width: 10rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #0BD1F0;
  background: linear-gradient(90 deg), #0BD1F0 0%, #0BD1F0 100%);
  border-radius: 4px;
}

.btn:hover {
  cursor:pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #6E8CEC;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}


#highscore-btn {
  background: linear-gradient(90 deg), rgb(67, 90, 55) 100%, #6E8CEC
 100%);
}

#highscore-btn:hover {
  box-shadow: 0 0.04rem 1.4rem 0 #6E8CEC;
}

.fa-crown {
  font-size: 2rem;
  margin-left: 1rem
}
}
